.navbar-dark {
  background: #212529 !important; }

#app {
  border-radius: 5px;
  overflow: hidden; }

.table th, .table td {
  width: 20%; }
  .table th:first-child, .table td:first-child {
    width: 45%; }
  .table th:last-child, .table td:last-child {
    width: 15%; }

input, label {
  margin-right: 25px;
  padding: 2px !important; }

form {
  margin: 50px 0;
  justify-content: center; }
  form .mb-2 {
    margin-bottom: 0 !important; }

#explanation {
  text-align: center;
  margin: 25px 0; }
