.navbar-dark {
  background: #212529 !important; }

#app, #app2 {
  border-radius: 5px;
  overflow: hidden;
  min-height: 122px;
  margin-bottom: 25px; }

.table th, .table td {
  width: 20%;
  outline: 0;
  position: relative; }
  .table th:first-child, .table td:first-child {
    width: 45%; }
  .table th:last-child, .table td:last-child {
    width: 15%; }
  .table th.bg-success, .table td.bg-success {
    border-color: #19a539; }
  .table th:not(:first-child), .table td:not(:first-child) {
    text-align: center; }
  .table th input, .table td input {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    vertical-align: middle;
    border: 0; }
    .table th input.active, .table td input.active {
      display: initial;
      background: inherit; }

input, label {
  margin-right: 25px;
  padding: 2px !important; }
  input.invalid, label.invalid {
    border-color: #f00;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); }

.entry {
  margin: 50px 0;
  justify-content: center; }
  .entry .mb-2 {
    margin-bottom: 0 !important; }

.title {
  text-align: center;
  margin: 25px 0; }

.fadeOut {
  opacity: 0;
  transition: 1s;
  background: #f00 !important; }

.fadeIn {
  animation: fadein .2s; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/loading.gif) center no-repeat #fff; }
