.navbar-dark {
  background: #212529 !important; }

#app, #app2 {
  border-radius: 5px;
  overflow: hidden;
  min-height: 122px;
  margin-bottom: 25px; }

.table th, .table td {
  width: 20%;
  outline: 0;
  position: relative;
  vertical-align: middle !important; }
  .table th.text span, .table td.text span {
    margin-right: 10px;
    outline: 0; }
  .table th.text button, .table td.text button {
    display: none;
    position: absolute; }
  .table th.text:hover button, .table td.text:hover button {
    display: inline-block; }
  .table th.editing, .table td.editing {
    box-shadow: inset 0 0 10px #007bff; }
    .table th.editing button, .table td.editing button {
      right: 15px;
      display: inline-block; }
  .table th:first-child, .table td:first-child {
    width: 45%; }
  .table th:last-child, .table td:last-child {
    width: 15%; }
  .table th.bg-success, .table td.bg-success {
    border-color: #19a539; }
  .table th.bg-danger, .table td.bg-danger {
    border-color: #b53118; }
  .table th:not(:first-child), .table td:not(:first-child) {
    text-align: center; }
  .table th input, .table td input {
    display: none;
    position: absolute;
    left: 48px;
    top: 10px;
    vertical-align: middle;
    border: 0; }
    .table th input.active, .table td input.active {
      display: initial;
      width: 80%;
      text-align: center; }

input, label {
  margin-right: 25px;
  padding: 2px !important; }
  input.invalid, label.invalid {
    border-color: #f00;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25); }

.entry {
  margin: 50px 0;
  justify-content: center; }
  .entry .mb-2 {
    margin-bottom: 0 !important; }

.title {
  text-align: center;
  margin: 25px 0; }

#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(img/loading.gif) center no-repeat #fff; }
