#app, #app2{
    border-radius: 5px;
    overflow: hidden;
    min-height: 122px;
    margin-bottom: 25px;
}
.table{
    th, td{
        width: 20%;
        outline: 0;
        position: relative;
        vertical-align: middle!important;
        &.text{
            span{
                margin-right: 10px;
                outline: 0;
            }
            button{
                display: none;
                position: absolute;
            }
            &:hover{
                button{
                    display: inline-block;
                }
            }
        }
        &.editing{
            box-shadow: inset 0 0 10px #007bff;
            button{
                right: 15px;
                display: inline-block;
            }
        }
        &:first-child{
            width: 45%;
        }
        &:last-child{
            width: 15%;
        }
        &.bg-success{
            border-color: #19a539;
        }
        &.bg-danger{
            border-color: #b53118
        }
        &:not(:first-child){
            text-align: center;
        }
        input{
            display: none;
            position: absolute;
            left: 48px;
            top: 10px;
            vertical-align: middle;
            border: 0;
            &.active{
                display: initial;
                //background: inherit;
                width: 80%;
                text-align: center;
            }
        }
    }
}
input, label{
    margin-right: 25px;
    padding: 2px!important;
    &.invalid{
        border-color: #f00;
        box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);
    }
}
.entry{
    margin: 50px 0;
    justify-content: center;
    .mb-2{
        margin-bottom: 0!important;
    }
}
.title{
    text-align: center;
    margin: 25px 0;
}
#loading{
    position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: url(img/loading.gif) center no-repeat #fff;
  }