footer{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background: #f7f7f7;
    text-align: center;
    width: 100%;
    color: #586069;
    font-size: 14px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
  footer a{
    text-decoration: none;
    color: #586069;
}